.scroll-to-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: #44b9dd;
  color: #02475c;
  z-index: 10;
}
.scroll-to-top .icon {
  margin-top: 25px;
  animation: scrollTop 0.5s alternate ease infinite;
}
@keyframes scrollTop {
  from {
    transform: translateY(2px);
  }
  to {
    transform: translateY(-1px);
  }
}
.cursor-pointer {
  cursor: pointer;
}
