html, body{
    padding: 0;
    margin:0;
}

.hero{
    position: relative;
    width: 100%;

    .waves-container{
        position: absolute;
        width: 100%;
        z-index: -100;
    }
}

.waves{
animation: waveAnimation 3s infinite alternate-reverse;
}

@keyframes waveAnimation{
    from{
        transform: translate(0, -20px);
    }
    to{
        transaform: translate(0, 30px);
    }
}

