$clr-primary: rgb(88, 73, 154);
$clr-secondary: rgb(59, 59, 105);
$simple-gradient: $clr-primary, $clr-secondary;

@mixin color-scheme($bg){
    background-image: linear-gradient(to right, $bg);
}
.container{
        
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
.project{
  
    display: flex;
    flex-direction: column;
    @include color-scheme($simple-gradient);    
    margin-top: 100px;
    border-radius: 20px;
    min-width: 50%;
    
    
    
    width: 700px;
    
    
    
        
            
        .info{
            display: flex;
            gap: 70px;
            
            p{
                color: white;
                font-weight: bold;
                margin-top: 20px;
            }
            
            img{
               border-radius: 20px;
               
            }

            .projectinfo{
                display:flex;
                flex-direction: column;
                width: 400px;
                align-items: center;
                gap: 30px;


                
            }
        }
    }   
}